<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentValidation" publicKeyToken="7de548da2fbae0f0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SIAV.Archiflow.BaseHTTPS1" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="SIAV.Archiflow.BaseHTTPS2" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="SIAV.Archiflow.BaseHTTPS" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" useDefaultWebProxy="true">
          <security mode="Transport" />
        </binding>
        <binding name="SIAV.Archiflow.BaseHTTPS211">
          <security mode="Transport" />
        </binding>
        <binding name="SIAV.Archiflow.BaseHTTPS3">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://app01-docu-test.apf/ArchiflowService/Login.svc" binding="basicHttpBinding" bindingConfiguration="SIAV.Archiflow.BaseHTTPS" contract="SiavWsLogin.ILoginServiceContract" name="SIAV.Archiflow.BaseHTTPS" />
      <endpoint address="https://app01-docu-test.apf/ArchiflowService/Chart.svc" binding="basicHttpBinding" bindingConfiguration="SIAV.Archiflow.BaseHTTPS2" contract="SiavWsChart.IChartServiceContract" name="SIAV.Archiflow.BaseHTTPS2" />
      <endpoint address="https://app01-docu-test.apf/ArchiflowService/Card.svc" binding="basicHttpBinding" bindingConfiguration="SIAV.Archiflow.BaseHTTPS1" contract="SiavWsCard.ICardServiceContract" name="SIAV.Archiflow.BaseHTTPS1" />
      <endpoint address="https://app01-docu-test.apf/ArchiflowService/Agraf.svc" binding="basicHttpBinding" bindingConfiguration="SIAV.Archiflow.BaseHTTPS3" contract="SiavWsAgraf.IAgrafService" name="SIAV.Archiflow.BaseHTTPS3" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/OCF_Ws/Service1/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServices" contract="WsOcf.IServices" name="BasicHttpBinding_IServices" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
<system.data>
<DbProviderFactories>
<remove invariant="Oracle.ManagedDataAccess.Client" />
<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
</DbProviderFactories>
</system.data>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>
